.mobile {
    position: relative;
    top: 1000px;
    left: 0px;
    
}

.leading {
    position: absolute;
    top: 1450px;
    left: 225px;
    font-weight: bolder;
    font-size: xx-large;
}

.image30 {
    position: absolute;
    top: 1400px;
    left: 750px;
}

.keepYourTrip {
    position: absolute;
    top: 1550px;
    left: 225px;
}

.image32 {
    position: absolute;
    top: 1600px;
    left: 255px;
}

.image33 {
    position: absolute;
    top: 1600px;
    left: 450px;
}

.image34 {
    position: absolute;
    top: 1800px;
    right: 350px;
}

.image35 {
    position: absolute;
    top: 1800px;
    right: 390px;
}