@import 'colors';
@import 'media_queries';

%align-center {
    display: flex;
    align-items: center;
}

ul ul { display: none }
ul li:hover ul { display: block; }

.navbar {
    position: sticky;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) /2);
    z-index: 10;
    left: 50px;
    margin-top: 0px;
    top: 0px;
    background-color: white;

    &__logo{
        margin-left: 24px;
        cursor: pointer;
        @extend %align-center
    }

    &__bars{
        opacity: 0;

        @include tablet{
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 1rem;
        }
    }

    &__menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet {
            display: none;
        }

        &--links {
            color: $black;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover {
                color: $green;
                transition: all 0.3s ease;
            }
        }

        #button {
            padding:12px 24px;
            border:none;
            outline: none;
            border-radius: 25px;
            background: $blue;
            color: white;
            margin-left: 16px;

            &:hover {
                background: $green;
                transition: all 0.3s ease;
            }
        }
    }

    &__menu1 {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet {
            display: none;
        }

        &--links {
            color: $black;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover {
                color: $green;
                transition: all 0.3s ease;
            }
        }

        &:hover {
            background: $green;
            transition: all 0.3s ease;
        }
    }

    
}

.navbar li {
    position: relative;
    float: left;
    // margin-right: $spacing;
}

.navbar a {
    display: block;
    // padding: $spacing $spacing/3;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    color: $green;
    // background: darken($color__primary, 5%);
}

/*--- DROPDOWN ---*/
.navbar__sub-menu {
    background: white; /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    color: black;
}

.navbar__sub-menu li {
    float: none;
}

.navbar__sub-menu a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.navbar li:hover ul{ /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

.navbar2{
    position: fixed;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) /2);
    z-index: 10;
    right: 20px;
    margin-top: 0px;
    top: 80px;
    background-color: white;
    bottom: 20px;

    &__bars2{
        opacity: 0;

        @include tablet{
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 1rem;
        }
    }

    &__menu2 {
        align-self: flex-end;
        list-style: none;
        text-align: center;
        margin-top: 0px;
        margin-left: 500px;
        height: 10px;
        

        @include tablet {
            display: none;
        }

        &--links2 {
            color: $black;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover {
                color: $green;
                transition: all 0.3s ease;
            }
        }
    }
}